extends ../layout

block content
	.container.p-4
		a.btn.btn-outline-primary.btn-block.text-uppercase(role="button" href="/admin/p/new") Criar novo post
	section.container-fluid.py-3.bg-white
		h4 Visualizações de posts
		hr
		.row.row-cols-sm-2.flex-column.flex-sm-row.p-3
			.col.col-sm-3.mb-3.mb-sm-0
				h5.icon-schedule Intervalo
				ul.nav.nav-pills.nav-justified.text-center.flex-sm-column
					a.interval.nav-item.nav-link(href='/admin/p?interval=day' data-interval='day') Dia
					a.interval.nav-item.nav-link.active(href='/admin/p?interval=week' data-interval='week') Semana
					a.interval.nav-item.nav-link(href='/admin/p?interval=month' data-interval='month') Mês
			.col.col-sm-9
				canvas#views(width="400" height="400")

append scripts
	script(src="/chart.min.js")
	script(src="/javascripts/dashboard.js")