extends layout

block content
  if account
    .row
      a.btn.btn-outline-success(role='button' href='') Novo artigo
  .container
    .row.no-gutters.row-cols-1.row-cols-md-2
      section.feed.col-12.col-md-9
        //- each a in articles
        //-   article.article-wrapper
        //-     header.article-header
        //-       .header-info
        //-         h4= a.
        //-       if a.title
        //-         h2.article-title= a.title
            

      aside.d-none.d-md-block.col-3
