extends layout
include includes/notecard.pug

block content
	if account
		.row
			a.btn.btn-outline-success(role='button' href='') Novo artigo
	.container
		.row.no-gutters.row-cols-1.row-cols-md-2
			section(role="feed").feed.col-12.col-md-9
				each a in articles
					+card(a)


			aside.d-none.d-md-block.col-3
