extends layout
include includes/notepad.pug

block content
    .container-fluid
        if account
            .btn-toolbar.p-3.justify-content-center(role="toolbar")
                .btn-group(role="group")
                    a.btn.btn-outline-danger(role="button" href=`/admin/p/${article._id}/del`)
                        span.icon-explode
                        | Deletar
                    a.btn.btn-outline-dark(role="button" href=`/admin/p/${article._id}`)
                        span.icon-hammer
                        | Editar
                    
        +post(article)