extends layout
include includes/notepad.pug

block content
    +post(article)
    //- article.post
    //-     header
    //-         h3= article.title
    //-         small.icon-time= article.datetime.formated
    //-     section !{article.content}