@font-face {
  /* Designer Susana Passinhas CC BY 4.0 https://www.toicon.com/license */
  font-family: 'icomoon';
  src: url('/fonts/icomoon.ttf?wg93fd') format('truetype'),
    url('/fonts/icomoon.woff?wg93fd') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.45;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]::before, [class*=" icon-"]::before {
  padding-right: .3em;
}
.icon-accommodate::before{content:"\e900";}.icon-add::before{content:"\e901";}.icon-adjust::before{content:"\e902";}.icon-alarm::before{content:"\e903";}.icon-alert::before{content:"\e904";}.icon-anchor::before{content:"\e905";}.icon-arrest::before{content:"\e906";}.icon-ascend::before{content:"\e907";}.icon-ask::before{content:"\e908";}.icon-attract::before{content:"\e909";}.icon-bake::before{content:"\e90a";}.icon-barbecue::before{content:"\e90b";}.icon-believe::before{content:"\e90c";}.icon-bite::before{content:"\e90d";}.icon-blaze::before{content:"\e90e";}.icon-bloom::before{content:"\e90f";}.icon-blow::before{content:"\e910";}.icon-bookmark::before{content:"\e911";}.icon-broadcast::before{content:"\e912";}.icon-build::before{content:"\e913";}.icon-caffeinate::before{content:"\e914";}.icon-calculate::before{content:"\e915";}.icon-call::before{content:"\e916";}.icon-camp::before{content:"\e91";}.icon-capture::before{content:"\e918";}.icon-celebrate::before{content:"\e919";}.icon-charge::before{content:"\e91a";}.icon-chop::before{content:"\e91b";}.icon-clamber::before{content:"\e91c";}.icon-climb::before{content:"\e91d";}.icon-close::before{content:"\e91e";}.icon-code::before{content:"\e91f";}.icon-collect::before{content:"\e920";}.icon-condemn::before{content:"\e921";}.icon-connect::before{content:"\e922";}.icon-cook::before{content:"\e923";}.icon-copy::before{content:"\e924";}.icon-create::before{content:"\e925";}.icon-crop::before{content:"\e926";}.icon-cry::before{content:"\e927";}.icon-cut::before{content:"\e928";}.icon-dazzle::before{content:"\e929";}.icon-decorate::before{content:"\e92a";}.icon-defend::before{content:"\e92b";}.icon-develop::before{content:"\e92c";}.icon-die::before{content:"\e92d";}.icon-dig::before{content:"\e92e";}.icon-divide::before{content:"\e92f";}.icon-download::before{content:"\e930";}.icon-dream::before{content:"\e931";}.icon-drill::before{content:"\e932";}.icon-drink::before{content:"\e933";}.icon-drive::before{content:"\e934";}.icon-drown::before{content:"\e935";}.icon-eat::before{content:"\e936";}.icon-enlarge::before{content:"\e937";}.icon-enter::before{content:"\e938";}.icon-equal::before{content:"\e939";}.icon-explode::before{content:"\e93a";}.icon-explore::before{content:"\e93b";}.icon-fight::before{content:"\e93c";}.icon-film::before{content:"\e93d";}.icon-find::before{content:"\e93e";}.icon-finish::before{content:"\e93f";}.icon-fit::before{content:"\e940";}.icon-flag::before{content:"\e941";}.icon-forbid::before{content:"\e942";}.icon-forward::before{content:"\e943";}.icon-gamble::before{content:"\e944";}.icon-game::before{content:"\e945";}.icon-give::before{content:"\e946";}.icon-go::before{content:"\e947";}.icon-groom::before{content:"\e948";}.icon-grow::before{content:"\e949";}.icon-hack::before{content:"\e94a";}.icon-hammer::before{content:"\e94b";}.icon-hang::before{content:"\e94c";}.icon-harvest::before{content:"\e94d";}.icon-home::before{content:"\e94e";}.icon-hurt::before{content:"\e94f";}.icon-impregnate::before{content:"\e950";}.icon-join::before{content:"\e951";}.icon-keep::before{content:"\e952";}.icon-kill::before{content:"\e953";}.icon-kiss::before{content:"\e954";}.icon-label::before{content:"\e955";}.icon-launch::before{content:"\e956";}.icon-lift::before{content:"\e957";}.icon-link::before{content:"\e958";}.icon-listen::before{content:"\e959";}.icon-load::before{content:"\e95a";}.icon-locate::before{content:"\e95b";}.icon-lock::before{content:"\e95c";}.icon-love::before{content:"\e95d";}.icon-marry::before{content:"\e95e";}.icon-merge::before{content:"\e95f";}.icon-narrow::before{content:"\e960";}.icon-navigate::before{content:"\e961";}.icon-open::before{content:"\e962";}.icon-pause::before{content:"\e963";}.icon-pay::before{content:"\e964";}.icon-perform::before{content:"\e965";}.icon-photograph::before{content:"\e966";}.icon-pin::before{content:"\e967";}.icon-ping::before{content:"\e968";}.icon-plug::before{content:"\e969";}.icon-point::before{content:"\e96a";}.icon-power::before{content:"\e96b";}.icon-prank::before{content:"\e96c";}.icon-press::before{content:"\e96d";}.icon-primp::before{content:"\e96e";}.icon-print::before{content:"\e96f";}.icon-produce::before{content:"\e970";}.icon-protect::before{content:"\e971";}.icon-push::before{content:"\e972";}.icon-race::before{content:"\e973";}.icon-rain::before{content:"\e974";}.icon-record::before{content:"\e975";}.icon-redo::before{content:"\e976";}.icon-reflect::before{content:"\e977";}.icon-reply::before{content:"\e978";}.icon-report::before{content:"\e979";}.icon-resize::before{content:"\e97a";}.icon-rewind::before{content:"\e97b";}.icon-rule::before{content:"\e97c";}.icon-save::before{content:"\e97d";}.icon-saw::before{content:"\e97e";}.icon-scare::before{content:"\e97f";}.icon-schedule::before{content:"\e980";}.icon-search::before{content:"\e981";}.icon-send::before{content:"\e982";}.icon-shine::before{content:"\e983";}.icon-sit::before{content:"\e984";}.icon-sleep::before{content:"\e985";}.icon-smell::before{content:"\e986";}.icon-smoke::before{content:"\e987";}.icon-solve::before{content:"\e988";}.icon-sound::before{content:"\e989";}.icon-spin::before{content:"\e98a";}.icon-spook::before{content:"\e98b";}.icon-stack::before{content:"\e98c";}.icon-stamp::before{content:"\e98d";}.icon-steam::before{content:"\e98e";}.icon-stop::before{content:"\e98f";}.icon-store::before{content:"\e990";}.icon-strike::before{content:"\e991";}.icon-subtract::before{content:"\e992";}.icon-swim::before{content:"\e993";}.icon-tag::before{content:"\e994";}.icon-target::before{content:"\e995";}.icon-time::before{content:"\e996";}.icon-tower::before{content:"\e997";}.icon-travel::before{content:"\e998";}.icon-type::before{content:"\e999";}.icon-undo::before{content:"\e99a";}.icon-unlock::before{content:"\e99b";}.icon-upload::before{content:"\e99c";}.icon-urbanize::before{content:"\e99d";}.icon-use::before{content:"\e99e";}.icon-wait::before{content:"\e99f";}.icon-watch::before{content:"\e9a0";}.icon-wear::before{content:"\e9a1";}.icon-weld::before{content:"\e9a2";}.icon-win::before{content:"\e9a3";}.icon-wonder::before{content:"\e9a4";}.icon-write::before{content:"\e9a5";}
a {
  color: inherit;
}
#logo {
  color: var(--yellow);
  font-weight: 650;
}
body {
  font-family: 'Courier New', Courier, monospace!important;
  /* color: var(--light); */
  background-color: var(--light);
}
.feed-footer {
  padding: 2rem 1rem;
}
.feed-header {
  padding: 1rem 2rem;
  margin-bottom: .5rem;
}
.notecard {
  margin-bottom: 1rem;
  background-color: white;
  overflow: hidden;
}
.notecard-wrapper {
  flex: 1;
  background-color: var(--light);
  color: var(--dark);
}
.notecard-header, .notecard-body, .notecard-footer {
  display: flex;
}
.label {
  width: 10%;
  max-width: 2.5rem;
  padding: 1rem 0;
}
.label-cat {
  filter: sepia(.2) saturate(1.3);
}
.header-inner, .body-inner, .footer-inner {
  flex: 1;
}
.header-inner, .footer-inner {
  display: inline-flex;
  padding: .8rem 1.8rem;
  align-items: center;
}
.header-inner {
  color: var(--light);
  background-color: var(--dark);
}
.body-inner {
  position: relative;
  border-right: 1px solid #e6e8eb;
  padding: 1rem;
  counter-reset: line;
}
.text-line::before {
  position: absolute;
  left: -2rem;
  counter-increment: line;
  content: counter(line);
  user-select: none;
  font-size: .9rem;
  color: #6c757d;
  text-align: right;
  display: inline-block;
  width: 18px;
}
.label-line {
  background: #f7f9fa;
  border-right: 1px solid #e6e8eb;
  border-left: 1px solid #e6e8eb;
}
.notecard-footer {
  border: 1px solid #e6e8eb;
}
.notecard-footer .footer-inner {
  justify-content: space-between;
}
.notecard-title {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  margin: 0;
  text-decoration: none;
}
.note-date {
  border: 1px solid #e6e8eb;
  padding: .5rem .7rem;
  white-space: nowrap;
}

.notepad {
  max-width: 60rem;
  margin: 2rem auto;
  background-color: white;
  overflow: hidden;
}
.notepad-wrapper {
  flex: 1;
  background-color: var(--light);
  color: var(--dark);
}
.notepad-header, .notepad-body, .notepad-footer {
  display: flex;
}
.notepad-body {
  border-bottom: 1px solid #e6e8eb;
}
.notepad-footer .footer-inner {
  justify-content: space-between;
  border-right: 1px solid #e6e8eb;
  border-bottom: 1px solid #e6e8eb;
}
.notepad-title {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  margin: 0;
  text-decoration: none;
}

.body-inner h1 {
  font-size: 1.5em;
}
.body-inner h2 {
  font-size: 1.35em;
}
.body-inner h3 {
  font-size: 1.2em;
}
.body-inner h4 {
  font-size: 1.1em;
}
.body-inner h5 {
  font-size: 1.05em;
}
aside .card {
  margin-bottom: 2rem;
}
.contact {
  text-align: center;
  margin-top: 4rem;
}
.owner-img {
  box-sizing: content-box !important;
  width: 80px;
  height: 80px;
  margin: .75rem auto 0;
  border-radius: 50%;
  filter: sepia(.3);
  border: 8px solid var(--light);
  box-shadow: 0 0 0 4px var(--dark);
}
.category-color {
  width: 12.5rem;
  height: 5px;
}
/* Bootstrap */
.dropdown-item {
  padding: .5rem 1.5rem;  
}